# Copy sang .env (đã có default khớp docker-compose host port lệch)
PG_URL=postgres://pixi:pixi@localhost:55432/pixiland
REDIS_URL=redis://localhost:56379
MONGO_URL=mongodb://localhost:57017
MONGO_DB=pixiland
CLICKHOUSE_URL=http://localhost:58123
CLICKHOUSE_USER=pixi
CLICKHOUSE_PASSWORD=pixi
SCYLLA_CONTACT_POINT=localhost:59042
SCYLLA_DC=datacenter1
SCYLLA_KEYSPACE=pixiland
